<div class="container app-screen">
	<div class="row login-screen">
		<div class="offset-md-3 col-md-5 user-registration justifier">
			<ngb-tabset>

				<!-- Login container starts -->
				<ngb-tab title="Login">
					<ng-template ngbTabContent>

						<div class="justifier">
							<div class="form-group">
								<label>Username</label>
								<input type="text"
									name="username"
									class="form-control"
									placeholder="Enter your Email"
									[(ngModel)]="username"
									value="{{username}}"
								>
							</div>

							<div class="form-group">
								<label>Password</label>
								<input type="password"
									name="password"
									class="form-control"
									placeholder="Enter your Password"
									[(ngModel)]="password"
									value="{{ password }}"
								>
							</div>

							<div class="form-group">
								<button class="btn submit-btn"  (click)="login()">Login</button>
							</div>
						</div>

					</ng-template>
				</ngb-tab>
				<!-- Login conatainer ends -->

				<!-- Registration conatiner starts -->
				<ngb-tab title="Registration">
					<ng-template ngbTabContent>

						<div class="justifier">

							<div class="form-group">
								<label>Name</label>
								<input type="text"
									name="name"
									class="form-control"
									placeholder="Enter your Name"
									[(ngModel)]="username"
									value="{{username}}"
									(keyup)="onkeyup($event)"
									(keydown)="onkeydown($event)"
								>
								<br *ngIf="isuserNameAvailable && username!=''" />
								<div *ngIf="isuserNameAvailable && username!=''" class="alert alert-danger">
									username <strong>{{username}}</strong> is already taken.
								</div>
							</div>

							<div class="form-group">
								<label>Email</label>
								<input type="text"
									name="email"
									class="form-control"
									placeholder="Enter your Email"
									[(ngModel)]="email"
									value="{{email}}"
								>
							</div>

							<div class="form-group">
								<label>Password</label>
								<input type="password"
									name="password"
									class="form-control"
									placeholder="Enter your Password"
									[(ngModel)]="password"
									value="{{ password }}"
								>
							</div>

							<div class="form-group">
								<button class="btn submit-btn" (click)="registerUser()">Registration</button>
							</div>

						</div>

					</ng-template>
				</ngb-tab>
				<!-- Registration conatiner ends -->

			</ngb-tabset>

		</div>
	</div>

</div>
