.header{
		background: #CCC;
    margin-bottom: 5px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.32);
}


.app-screen{
	background-color: #fff;
}

.login-screen{
	margin: 70px 35px;
	color: #000 !important;
}

.user-registration{
	background-color: #FF3352;
	padding-top: 10px;
}

.submit-btn{
	background-color: #fff;
	color: #000;
}
