.header{
	background-color: #FF3352;
    margin-bottom: 5px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.32);
}

.welcome-user{
	padding: 5px;
    color: #fff;
}

.home-navigation {
	float: right;
}

.home-navigation ul{
	display: inline-flex;
    list-style-type: none;
}
.home-navigation ul li{
	cursor: pointer;
	color: #fff;
}

.chat-body{
	width: 100%;
	padding: 10px;
}

.massege-container{
	overflow: hidden;
	overflow-y: auto;
}

.opposite-user{
    background-color: rgba(0, 0, 0, 0.54);
    width: 100%;
    color: #fff;
		padding: 5px;
    text-align: center;
}
.message-thread{
	overflow: hidden;
	overflow-y: auto;
	list-style-type: none;
	height: 400px;
	width: 100%;
    border: solid 1px #BDBDBD;
    margin: 0px !important;
    padding: 5px !important;
}

.message-thread li{
		max-width: 300px;
    border-color: solid 0.5px rgba(0, 0, 0, 0.32);
    clear: both;
    text-decoration: none;
    list-style-type: none;
    margin: 5px;
    float: left;
    display: inline-block;
    padding: 5px;
    min-width: 160px;
    min-height: 10px;
    max-width: 350px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(172, 172, 172, 0.73);
    background-color: rgba(255, 255, 255, 0.80);
    line-height: 1.4;
    word-wrap: break-word;
    color: #444444;
    text-align: left;
}

.align-right{
	float: right !important;
	text-align: right;
}

.message-typer{
	padding-top: 20px;
}


.user-list{
	padding: 10px;
	overflow: hidden;
	overflow-y: auto;
	height: 423px;
	width: 100%;
}

.user-list li{
    background-color: rgba(255, 255, 255, 0.80);
	padding: 5px;
	list-style-type: none;
	margin-bottom: 5px;
    color: #444444;
    width: 100% !important;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(172, 172, 172, 0.73);
    line-height: 1.4;;
    border-color: solid 0.5px rgba(0, 0, 0, 0.32);
    clear: both;
    text-decoration: none;
    cursor: pointer;
}

.selected-user{
    background-color: rgba(0, 0, 0, 0.54) !important;
		color: #fff !important;
}

.overlay{
    height: 100% !important;
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.82);
    position: absolute;
    z-index: 1;
    text-align: center;
    padding-top: 200px;
}

.overlay-display{
    display: none;
}
